.elements__vector {
    display: flex;
    width: 21px;
    height: 18px;
    background: transparent url("../../../src/images/vector-like.svg") no-repeat;
    border: none;
    margin-top: 31px;
    margin-right: 18px;
}

.elements__vector:hover {
    opacity: 0.6;
    transition: all .3s;
    cursor: pointer;
}

.elements__vector:active {
    outline: none;
}

.elements__vector:focus {
    outline: none;
}

.elements__vector_active {
    background: transparent url("../../../src/images/vector_active.svg") no-repeat;
    transition: all .3s;
}
