.popup__container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 430px;
    min-width: 282px;
    margin: 0 auto;
    padding-top: 188px;
}

@media screen and (max-width: 750px) {
    .popup__container {
        padding-top: 123px;
    }
}

@media screen and (max-width: 320px) {
    .popup__container {
        padding-top: 123px;
    }
}
