.header__logo {
    width: 142.01px;
    padding-bottom: 40.60px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 102.46px;
        height: 24.40px;
        margin-left: 29px;
        padding-bottom: 31.60px;
    }
}
