.profile__add {
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 62px;
    right: 62px;
}

@media screen and (max-width: 320px) {
    .profile__add {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 14px;
        bottom: 14px;
        left: 131px;
        right: 131px;
    }
}
