.popup__close {
    position: absolute;
    top: -45px;
    left: 420px;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s;
}

@media screen and (max-width: 320px) {
    .popup__close {
        position: absolute;
        top: -50px;
        left: 243px;
    }
}
