.popup__input_type_edit:not:placeholder-shown {
    border-bottom: 1px solid #FF0000;
    color: #000000;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

