.popup__myself {
    width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 0 48px 0;
    outline: none;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

@media screen and (max-width: 750px) {
    .popup__myself {
        width: 238px;
        margin: 0 22px 45px 22px;
    }
}

@media screen and (max-width: 320px) {
    .popup__myself {
        width: 238px;
        margin: 0 22px 45px 22px;
    }
}
